.cartTitle{
    width: 350%;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px;
    text-align: center;
}
.cartItem{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 350%;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: space-between;
    border-radius: 5px;
    margin: 1vh 0  0 1vw;
    padding: 1vh 1vw  1vh 1vw;
}

.cartItem img{
 width: 100px;

}

.cartItem .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.price{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    line-height: 30px;
    justify-content: space-around;

}

.removeBtn{
    font-weight: 600;
    border: none;
    outline: none;
    color: aliceblue;
    height: 30px;
    border-radius: 3px;
   background: linear-gradient(to right, #10ffc3, #06c5ff);
   cursor: pointer;
}

.total{
   display: flex;
   justify-content: space-around;
   width: 350%;
   list-style: none;
   margin-top: 20px;
}

.total>span{
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
}

.total>button{
    height: 40px;
    width: 100px;
    font-weight: 600;
    border: none;
    outline: none;
    color: aliceblue;    
    border-radius: 5px;
    background: linear-gradient(to right, #10ffc3, #06c5ff);
    cursor: pointer;
}


.checkoutForm{
    width: 350%;
    margin: 15px 0 0 15px ;
    text-align: center;
}

.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.input>input{
    outline: none;
}

.finishBtn{
    height: 40px;
    width: 100px;
    font-weight: 600;
    border: none;
    outline: none;
    color: aliceblue;    
    border-radius: 5px;
    background: linear-gradient(to right, #10ffc3, #06c5ff);
    cursor: pointer;
}

.orderInfo{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1001;
    width: 70%;
    height: 70%;
    font-weight: 600;
    background-color: #ddd;
    opacity: 0.8;
}

.order{
    position: absolute;
    top:30%;
    left:40%;
    transform: translate(-50%,-50%);

}

.addItems, .subItems{
    cursor: pointer;
}

