select{
    outline: none;
    border-radius: 5px;
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    background-color: #aaa;
    margin-top: 1vh;
    border-radius: 5px;
    font-size: 2rem;
    color: #fff;
}